@import url(https://fonts.googleapis.com/css?family=Inconsolata);

* {
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(93, 255, 5);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url("./images/quiz.jpg");
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;
  }

main {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
    color: rgb(7, 6, 6)
}
footer {
    text-align: center;
}

.question_page {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color:rgb(255, 255, 255);
}
/*hide the bullet points from listings*/
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
    color: aliceblue;
   }

li {
    margin-bottom: 10px;
}

/*display only the intro page and hide the rest sections*/
.question_page, .submit_page, .highscore_page, #check_line {
    display:none;
    color: black
}

.button{
    background:rgb(255, 249, 249);
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
.button:hover{
  
    background-color:rgb(255, 240, 240);
  

}
 
/*Screen user friendly media*/
@media only screen and (max-width: 960px) {
    body {
      background-image: url("https://media.giphy.com/media/gFW9rRpOkMRBY2KF6s/giphy.gif");
    }
    main {
        margin-left:50px;
        margin-right:50px;
    }
  }

@media only screen and (max-width: 520px) {
    body {
      background-image: url("https://media.giphy.com/media/HzPtbOKyBoBFsK4hyc/giphy.gif");
      font-size: 130%;
    }
    main {
        margin-left:12px;
        margin-right:12px;
    }
}